/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand|Reenie+Beanie');
// $base-font: "Quicksand", "sans-serif";
// $header-font: "Raleway", "Helvetica", "sans-serif";
$base-font: "Quicksand", "sans-serif";

// Local fonts (uncomment following lines)
@font-face {
  font-family: "Interstate";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
  src: font-url('/assets/interstate.ttf') format('truetype')
  }
  $header-font: "Interstate";

// Font-size and line-height
$base-size: 18px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #C70008;
$blue: #2e496e;
$yellow: #f9b932;
$orange: #E67E22;
$green: #00895F;
$gray-brown: #454545;
$white: #f6eede;
