.dashboard-guest-container {
  margin: 0px 60px;
  margin-bottom: 100px;
}

@media screen and (max-width: 480px) {
  .dashboard-guest-container {
    margin: 0px 10px;
    margin-bottom: 50px;
  }
}

.guest-dashboard-profile-img {
  border-radius: 50%;
  width: 100px;
  margin-top: 10px;
  border: 1px solid #c4b8b8;
}


.guest-dashboard-profile-img:hover{
  opacity: 0.5;
}


.dashboard-guest-profile {
  height: 600px;
  margin-top: 50px;
  margin-right: 50px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px #c4b8b8;
}

.dashboard-guest-dashboard {
  box-shadow: 1px 1px 2px 1px #c4b8b8;
  border-radius: 3px;
  border: 1px solid #fcfcfc;
  margin-top: -50px;
}


//card
.dashboard-guest-new-booking-card {
  height: 170px;
  border-radius: 3px;
  margin: 0 auto;
  box-shadow: 0.2px 0.2px 0.2px 0.2px lightgrey;
  background-color: white;
  position: relative;
  margin: 40px 0px 30px 0px;
}

.dashboard-guest-future-booking-card:hover {
  box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
}

@media screen and (max-width: 480px) {
  .dashboard-guest-future-booking-card {
    width: 95%;
  }
}

.dashboard-guest-future-booking-card-title {
  font-size: 25px;
  color: #23385b;
  font-family: $header-font;
  position: absolute;
  left: 24px;
  top: 14px;
}

.event-card-icons {
  position: absolute;
  left: 63%;
  top: 10px;
}

.dashboard-guest-future-booking-card-date {
  color: black;
  font-size: 16px;
  .date {
    position: absolute;
    top: 54px;
    left: 55px;
    margin-right: 20px;
  }
  .fa {
    color: $blue;
    font-size: 18px;
    position: absolute;
    top: 56px;
    left: 27px;
  }
  span {
    padding-left: 29px;
  }
}

.dashboard-guest-future-booking-card-price {
  color: black;
  font-size: 16px;
  .fa {
    color: $blue;
    font-size: 18px;
  }
  p {
    position: absolute;
    top: 85px;
    left: 55px;
  }
  .fa-jpy {
    position: absolute;
    top: 88px;
    left: 30px;
  }
}

.dashboard-guest-future-booking-card-icons {
  width: 65px;
  position: absolute;
  top: 117px;
  right: 25px;
  span {
    font-family: $base-font;
    font-size: 16px;
  }
  .fa {
    color: $blue;
    font-size: 18px;
  }
}

.dashboard-sep {
  border-bottom: 1px solid $green;
  position: absolute;
  top: 44px;
  left: 23px;
  width: 88%;
}

.dashboard-pax {
    position: absolute;
    top: 120px;
    left: 56px;
}

.dashboard-status {
    position: absolute;
    top: 120px;
    left: 80px;
}

#dashboard-pay {
    position: absolute;
    left: 179px;
}
.edit_booking .dashboard-guest-future-booking-card-icon {
    font-family: "Quicksand", "sans-serif";
    font-size: 16px;
    background-color: white;
    border: 0;
    color: $blue;
}

.dashboard-guest-future-booking-card-utilities {
    position: absolute;
    top: 17px;
    right: 20px;
}
