.dashboard-guest-container {
  margin: 0px 60px;
}

.guest-dashboard-profile-img {
  border-radius: 50%;
  width: 100px;
  margin-top: 10px;
  border: 1px solid #c4b8b8;
}

.dashboard-guest-profile {
  height: 600px;
  margin-top: 50px;
  margin-right: 50px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px #c4b8b8;
}

.dashboard-guest-dashboard {
  box-shadow: 1px 1px 2px 1px #c4b8b8;
  margin-top: 50px;
  border-radius: 3px;
  border: 1px solid #fcfcfc;
}

.dashbard-guest-notifications {
  width: 80%;
}

