.event-show-profile-card {
  width: 300px;
  height: 70px;
  box-shadow: 1px 1px 1px 1px lightgrey;
  border-radius: 3px;
  position: relative;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.event-show-profile-card-avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.event-show-profile-card-link {
  position: absolute;
  width: 300px;
  height: 70px;
  cursor: pointer;
}

.event-show-profile-card-name {
  margin-left: 20px;
}

.event-show-attendees {
  width: 350px;
  box-shadow: 1px 1px 1px 1px lightgrey;
  padding-bottom: 20px;
}

