.likes {
  h1 {
    color: $blue;
    font-size: 40px;
  }
}

.events-show-container {
  margin: 0px 60px;
  margin-bottom: 100px;
}

// Card content
.events-show-new-booking-card {
  height: 170px;
  border-radius: 3px;
  margin: 0 auto;
  box-shadow: 0.2px 0.2px 0.2px 0.2px lightgrey;
  background-color: white;
  position: relative;
  margin: 40px 0px 30px 0px;
}

.events-show-new-booking-card:hover {
  box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
}

.events-show-future-booking-card-date {
  color: black;
  font-size: 16px;
  .date {
    position: absolute;
    top: 19px;
    left: 55px;
    margin-right: 20px;
  }
  .fa {
    color: $blue;
    font-size: 18px;
    position: absolute;
    top: 20px;
    left: 27px;
  }
  span {
    padding-left: 29px;
  }
}

.events-show-future-booking-card-price {
  color: black;
  font-size: 16px;
  .fa {
    color: $blue;
    font-size: 18px;
  }
  p {
    position: absolute;
    top: 58px;
    left: 55px;
  }
  .fa-jpy {
    position: absolute;
    top: 60px;
    left: 30px;
  }
}

.events-show-future-booking-card-icons {
  width: 65px;
  position: absolute;
  top: 117px;
  left: 274px;
  span {
    font-family: $base-font;
    font-size: 16px;
  }
  .fa {
    color: $blue;
    font-size: 18px;
  }
}

.events-sep {
  border-bottom: 1px solid $green;
  position: absolute;
  top: 95px;
  left: 23px;
  width: 315px;
}

// Booking
.events-join {
  color: black;
  font-size: 16px;
  .booking_pax {
    width: 38px;
    position: absolute;
    top: 120px;
    left: 56px;
  }
  .fa {
    font-size: 18px;
    position: absolute;
    top: 120px;
    left: 26px;
    color: $blue;
  }
}

.form-control {
  color: black;
  font-size: 16px;
}

.join-btn {
  font-family: $base-font;
  font-weight: bold;
  color: $blue;
  border: none;
  font-weight: 900;
  background-color: white;
  position: absolute;
  top: 113px;
  left: 150px;
  border: solid 1px $yellow;
  &:hover {
    background-color: $yellow;
    color: white;
  }
}

// bootstrap grid for responsiveness
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


//used??
@media screen and (max-width: 480px) {
  .events-show-future-booking-card {
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  .events-show-container {
    margin: 0px 10px;
    margin-bottom: 50px;
  }
}

.events-show-profile {
  height: 600px;
  margin-top: 50px;
  margin-right: 50px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px #c4b8b8;
}

.events-show-dashboard {
  box-shadow: 1px 1px 2px 1px #c4b8b8;
  border-radius: 3px;
  border: 1px solid #fcfcfc;
  margin-top: -50px;
}


.events-show-notification-card {
  width: 80%;
  box-shadow: 1px 1px 1px 1px lightgrey;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: white;
  margin: 15px auto;
}





