.likes {
  h1 {
    color: $blue;
    font-size: 40px;
  }
}

.events-show-container {
  margin: 0px 60px;
  margin-bottom: 100px;
}

// card
.events-show-new-booking-card {
  height: 170px;
  border-radius: 3px;
  margin: 0 auto;
  box-shadow: 1px 1px 1px 1px lightgrey;
  background-color: white;
  position: relative;
  margin: 40px 0px 30px 0px;
  position: relative;
}

.events-show-future-booking-card-date {
  color: black;
  font-size: 20px;
  .fa {
    color: grey;
    font-size: 18px;
  }
  position: absolute;
  top: 10px;
  left: 15px;
}

.events-show-future-booking-card-price {
  color: black;
  font-size: 20px;
  .fa {
    color: grey;
    font-size: 18px;
  }
  position: absolute;
  top: 40px;
  left: 15px;
}

.events-show-future-booking-card-icons {
  position: relative;
  top: 10px;
  left: 85px;
}

.events-show-future-booking-card-icon {
  width: 20px;
  position: relative;
  top: 10px;
  left: 290px;
}

#booking_pax {
  color: red;
}

.events-join-form {
  //position: relative;
}

.join-btn {
  border: none;
  background-color: white;
  color: $blue;
  font-weight: 900;
  position: relative;
}

// bootstrap grid for responsiveness
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}




//used??
@media screen and (max-width: 480px) {
  .events-show-future-booking-card {
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  .events-show-container {
    margin: 0px 10px;
    margin-bottom: 50px;
  }
}

.events-show-profile {
  height: 600px;
  margin-top: 50px;
  margin-right: 50px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px #c4b8b8;
}

.events-show-dashboard {
  box-shadow: 1px 1px 2px 1px #c4b8b8;
  border-radius: 3px;
  border: 1px solid #fcfcfc;
  margin-top: -50px;
}


.events-show-notification-card {
  width: 80%;
  box-shadow: 1px 1px 1px 1px lightgrey;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: white;
  margin: 15px auto;
}





