.likes {
  h1 {
    color: $blue;
  }
}

.hobby-show-img-like {
  width: 23px;
}

.star {
  width: 23px;
}

.hobby-description, .address-and-map {
  color: $blue;
  h2 {
    font-size: 25px;
  }
  p {
    color: black;
    font-size: 20px;
  }
}

.hobby-show-comments {
  ZZborder: 1px solid #ffba00;
  border-radius: 4px;
  overflow: hidden;
}

.address-and-map {
  color: $blue;

}
