.hobby-show-img-like {
  width: 30px;
}

.star {
  width: 30px;
}

.hobby-show-title {
  margin-bottom: 40px;
  //border-bottom: 5px solid #ffba00;
}

.hobby-show-margin-bottom-40 {
  margin-bottom: 40px;
}

// .orange-underline {
//   border-bottom: 5px solid #ffba00;
// }

.hobby-show-comments {
  width: 100%;
  height: 300px;
  ZZborder: 1px solid #ffba00;
  border-radius: 4px;
  overflow: hidden;
}

