/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.banner {
  height: 450px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
    url("https://s-media-cache-ak0.pinimg.com/originals/a8/a5/b0/a8a5b0a428127cec23c1d4ffd8092d36.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  margin: -70px;
}

#main-title, #slogan {
  color: $blue;
}

.new-search-form {
  background-color: transparent;
  // background: rgba(0,0,0,0.7);
  border-color: transparent;
  color: black;
  // margin-top: 132px;
  font-size: 20px;
}


.big-home-nav {
  font-size: 50px;
}

.top-hobby-row {
  background-color: #fbfcfe;
}

.home-wrapper {
  color: white;
  display: flex;
  flex-flow: row nowrap;
  min-height: 100%;
  width: 300px;
}

.home-icon {
  align-self: center;
  background-color: #fbfcfe;
  // color: black;
  flex: 1 1 auto;
  font-size: 50px;
  // padding: 20px;
}

.home-content {
  background-color: #fbfcfe;
  color: black;
  // flex: 12 1 auto;
  // padding: 20px;
  width: 300px;
  height: 150px;
}


.rec-flexbox {}

// .home-flexbox {
//   margin-top: -20px;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
.h-icon {
  padding-right: 50px;
  padding-left: 50px;
  p{
    margin-top: 20px;
    font-size: 20px;
  }
}




// *******************


/* line 21, jquery.scrolling-tabs.scss */
.scrtabs-tab-container * {
  box-sizing: border-box;
}

/* line 25, jquery.scrolling-tabs.scss */
.scrtabs-tab-container {
  height: 42px;
}
/* line 27, jquery.scrolling-tabs.scss */
.scrtabs-tab-container .tab-content {
  clear: left;
}

/* line 32, jquery.scrolling-tabs.scss */
.scrtabs-tabs-fixed-container {
  float: left;
  height: 42px;
  overflow: hidden;
  width: 100%;
}

/* line 39, jquery.scrolling-tabs.scss */
.scrtabs-tabs-movable-container {
  position: relative;
}
/* line 41, jquery.scrolling-tabs.scss */
.scrtabs-tabs-movable-container .tab-content {
  display: none;
}

/* line 46, jquery.scrolling-tabs.scss */
.scrtabs-tab-scroll-arrow {
  border: 1px solid #dddddd;
  border-top: none;
  color: #428bca;
  cursor: pointer;
  display: none;
  float: left;
  font-size: 12px;
  height: 42px;
  margin-bottom: -1px;
  padding-left: 2px;
  padding-top: 13px;
  width: 20px;
}
/* line 59, jquery.scrolling-tabs.scss */
.scrtabs-tab-scroll-arrow:hover {
  background-color: #eeeeee;
}

/* line 64, jquery.scrolling-tabs.scss */
.scrtabs-tab-scroll-arrow.scrtabs-disable {
  color: #ddd;
  cursor: default;
}

/* line 69, jquery.scrolling-tabs.scss */
.scrtabs-tabs-fixed-container ul.nav-tabs > li {
  white-space: nowrap;
}





// ***************

.wrapper-scroll {
    position:relative;
    margin:0 auto;
    overflow:hidden;
  padding:5px;
    height:50px;
}

.list {
    position:absolute;
    left:0px;
    top:0px;
    min-width:3000px;
    margin-left:12px;
    margin-top:0px;
}

.list li{
  display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:11px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}

.owl-dots {
  display: none;
}

.image-carousel p {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  font-size: 25px;
  color: white;
  font-weight: 900;
}

// create hobby
.share-hobby {
  position: relative
}
.share-hobby-call-to-action {
  height: 300px;
  width: 100%;
  background-color: $blue;
  color: white;
  //margin-top: 30px;
  //margin-bottom: 20px;
  h3 {
    position: relative;
    top: 55px;
  }
  h5 {
    position: relative;
    top: 90px;
    letter-spacing: 2px;
  }
  a {
    position: relative;
    top: 180px;
    text-align: center;
  }
}
