.profile_picture {
    border-radius: 50%;
}

h1,h2,h3 { font-family: "Raleway", "Helvetica", "sans-serif";}

.title {font-family: 'Khand', sans-serif;
font-size: 30px;

}

h3 {
font-size: 20px

}

p {
	font-size:15px
}

.specififications {
background-color: white


}

a {
  color: #CCCCCC;
  font-size: 10px;
  letter-spacing: 10px;
  transition: color 0.5s ease;
}

.bio{
background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
height: 200px;
position: center;
margin: 200px; 
font-family: 'Khand', sans-serif;
font-size: 200px;

}	