.profile_picture {
    border-radius: 50%;
}

h1,h2,h3 { font-family: "Raleway", "Helvetica", "sans-serif";}

.title {font-family: 'Khand', sans-serif;
font-size: 30px;
text-transform: capitalize;

}

h3 {
font-size: 20px

}

p {
	font-size:15px
}