<h1>Test</h1>
<div class="new-booking-form">
  <%= simple_form_for([@hobby, @booking]) do |f| %>
  <%= f.input :start_time, as: :date_time_picker %>
  <%= f.input :end_time, as: :date_time_picker %>
  <%= f.submit class: "btn btn-primary text-center" %>
  <% end %>
</div>
