<div class="new-search-form">

  <%= form_tag(hobbies_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :Search_Hobby, nil, placeholder: "Search Hobby" %>
  <%= select_tag(:Shanghai, options_for_select([['Shanghai'], ['Beijing'], ['Tianjin'], ['Chongqing'], ['Dalian'], ['Qingdao'],['Guangzhou']]))%>

  <%= submit_tag("Search", :class => "btn btn-primary")%>

  <% end %>

</div>

