<div class="dashboard-guest-container">
  <div class="row">
    <div class="col-md-3 hidden-xs hidden-sm dashboard-guest-profile text-center">
      <%= render 'dashboard_guest_profile' %>
    </div>
    <div class="col-md-8 dashboard-guest-dashboard">
      <%= render 'dashboard_guest_dashboard' %>
    </div>
  </div>
</div>


















