<div class="dashboard-host-container">
  <div class="row">
    <div class="col-md-3 hidden-xs hidden-sm dashboard-guest-profile text-center">
      <%= render 'dashboard_host_profile' %>
    </div>
    <h1 class="text-center" style="margin-top: 100px"></h1>
    <div class="col-md-8 dashboard-guest-dashboard">
      <%= render 'dashboard_host_dashboard' %>
    </div>
  </div>
</div>
