<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= render 'pages/search_form' %>

</div>
  <%= link_to("Host Dashboard", dashboard_host_path, class: "btn btn-primary card-link") %>
</div>
