// Your footer style
.footer {
  width: 1440px;
  height: 300px;
  background-color: #454545;
  text-decoration: none;
  font-family: $base-font;
  position: relative;
}

.footer-left {
  margin-top: 40px;
  margin-bottom: 40px;
}

// About and Call to action
.navigation  {
  a {
  font-family: $base-font;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
    &:hover {
      color: $yellow;
    }
  }
}

.call_to_action {
  margin-bottom: 40px;
  margin-top: 20px;
  h4 {
    font-size: 20px;
    color: #ffffff;
    font-family: $base-font;
  }
}

// Icons
#footer_icons {
  .icons img {
    margin-top: 30px;
    width: 34px;
    height: 36px;
  }
}

// Subscribe

.asterisk {
  span {
  color: #C70008;
  font-size: 25px;
  }
}

#mc_embed_signup {
  font-family: $base-font;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  height: 100px;
  width: 300px;
  color: #ffffff;
  h2 {
    font-family: $base-font;
  }
  span {
  color: #C70008;
  font-size: 25px;
  }
  form {
    padding: 0px;
  }
}


.input-field {
  color: #787878;
  height: 30px;
}

// buttons
#mc-embedded-subscribe {
  border-radius: 10px;
  width: 134px;
  background-color: #00895F;
  color: #f6eede;
  font-size: 16px;
  font-weight: 900;
}
