/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-light-blue {
  background: #FAFBFD;
}

// Background for call to action
.bg-dark-blue {
  background: #2e496e;
}

// Background footer
.bg-dark-grey {
  background: #454545;
}

