
.border-tlr-radius {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}


.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
   box-shadow:
      0 1px 3px rgba(0,0,0, 0.12),
      0 1px 2px rgba(0,0,0, 0.24);
}


/**
 * Card Styles
 */

.card {
  background-color: lightgrey;
  margin-bottom: 1.6rem;
  background-clip: content-box;
  border-color: black;
  border-radius: 5px;
  // padding: 10px;
  // margin: 10px;
}

.card__padding {
  padding: 1.6rem;
}

.card__image {
  min-height: 100px;
  background-color: #eee;

}
  .card__image img {
    width: 100%;
    max-width: 100%;
    display: block;
  }

.card__content {
  position: relative;
}

/* card meta */
.card__meta time {
  font-size: 1.5rem;
  color: #bbb;
  margin-left: 0.8rem;
}

/* card article */
.card__article a {
  text-decoration: none;
  color: #444;
  transition: all 0.5s ease;
}
  .card__article a:hover {
    color: #2980b9;
  }

/* card action */
.card__action {
  overflow: hidden;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  padding-bottom: 1.6rem;
}

.card__author {}

  .card__author img,
  .card__author-content {
    display: inline-block;
    vertical-align: middle;
  }

  .card__author img{
    border-radius: 50%;
    margin-right: 0.6em;
  }

.card__share {
  float: right;
  position: relative;
  margin-top: -42px;
}

.card__social {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  width: 160px;
  transform: translateZ(0);
    transform: translateX(0px);
    transition: transform 0.35s ease;
}
  .card__social--active {
    visibility: visible;
    /*z-index: 3;*/
    transform: translateZ(0);
    transform: translateX(-48px);
      transition: transform 0.35s ease;
  }

.share-toggle {
  z-index: 2;
}
.share-toggle:before {
  content: "\f1e0";
  font-family: 'FontAwesome';
  color: #3498db;
}
  .share-toggle.share-expanded:before {
    content: "\f00d";
  }

.share-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
  outline: 0;

  box-shadow:
        0 2px 4px rgba(0,0,0, 0.12),
        0 2px 4px rgba(0,0,0, 0.24);
}
  .share-icon:hover,
  .share-icon:focus {
    box-shadow:
        0 3px 6px rgba(0,0,0, 0.12),
        0 3px 6px rgba(0,0,0, 0.24);

      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
  }

.facebook {
  background-color: #3b5998;
}
.twitter {
  background-color: #00abe3;
}
.googleplus {
  background-color: #d3492c;
}

.facebook,
.twitter,
.googleplus {
  color: #fff;
}

  .facebook:hover,
  .twitter:hover,
  .googleplus:hover {
    color: #eee;
  }



// hobby-card

.hobby-cards {
  margin: 0 auto;
}

.hobby-card {
  background-color: white;
  width: 350px;
  height: 350px;
  border-radius: 3px;
  position: relative;
  box-shadow: 0.2px 0.2px 0.2px 0.2px lightgrey;
  margin: 15px 0px;
  z-index: 0;
}

.hobby-card:hover {
  box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
}

.hobby-card-link {
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 5;
  position: absolute;
  left: 0px;
}

.hobby-card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 4px solid #FFBA00;
}

.hobby-card-avatar {
  border-radius: 50%;
  width: 80px;
  height:80px;
  border: solid 3px $yellow;
  position: absolute;
  bottom: 5px;
}

.hobby-card-avatar-link {
  z-index: 10;
  position: absolute;
  left: 24px;
  bottom: 135px;
}

.hobby-card-description {
  width: 320px;
  height: 120px;
  position: absolute;
  bottom: 10px;
  right: 0px;
}

.hobby-card-description-title {
  width: 270px;
  height: 120px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#hobby-card-description-hobby-name {
  font-size: 22px;
  color: #2e496e;
  position: absolute;
  left: 0px;
  bottom: 75px;
  font-weight: 900;
}

#hobby-card-summary {
  position: absolute;
  bottom: 50px;
  font-size: 15px;
  color: $blue;
}

#hobby-card-category {
  position: absolute;
  bottom: 28px;
  font-size: 15px;
}

.hobby-card-icons {
  position: absolute;
  bottom: 5px;
  left: 30px;
  z-index: 2;
}

.hobby-card-icon-text {
  font-size: 12px;
  line-height: 32px;
}

.hobby-card-icon {
  width: 12px;
}

.hobby-card-rating {
  width: 65px;
  height: 65px;
  background-color: rgba(249, 184, 49, 0.8);
  position: absolute;
  left: 276px;
  bottom: 275px;
  z-index: 3;
  border-radius: 50%;
  border: 1.5px solid white;
}

.hobby-card-rating-score {
  color: white;
  position: absolute;
  left: 51%;
  top: 12%;
  transform: translateX(-50%);
  font-size: 20px;
}

.hobby-card-star {
  width: 10.5px;
  margin-left: -3px;
  margin-right: 2px;
  padding: 1px;
}

.hobby-card-stars {
  position: absolute;
  left: 8px;
  top: 33px;
  font-size: 5px;
}

.hobby-card-stars-count {
  position: absolute;
  left: 1px;
  top: 12px;
  font-size: 8px;
  color: white;
  font-weight: bold;
}







