
// *,
// *:after,
// *:before {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

/**
 * Basics Styles
 */
// html {
//   font-size: 62.5%;
// }
// body {
//   background-color: #eee;
//   font-family: Roboto;
//   font-weight: 400;
//   font-size: 1.6em;
//   line-height: 1.6;
//   color: #666;
// }

a {
  text-decoration: none;
  color: #3498db;
}
  a:hover {
    color: #2980b9;
  }

h2 {
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.wrapper {
  max-width: 400px;
  margin: 50px auto;
  padding-left: 1em;
  padding-right: 1em;
}

/**
 * Helpers
 */
.border-tlr-radius {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.text-center { text-align: center; }

.radius { border-radius: 2px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
   box-shadow:
      0 1px 3px rgba(0,0,0, 0.12),
      0 1px 2px rgba(0,0,0, 0.24);
}


/**
 * Card Styles
 */

.card {
  background-color: grey;
  margin-bottom: 1.6rem;
  border-color: black;
}

.card__padding {
  padding: 1.6rem;
}

.card__image {
  min-height: 100px;
  background-color: #eee;
}
  .card__image img {
    width: 100%;
    max-width: 100%;
    display: block;
  }

.card__content {
  position: relative;
}

/* card meta */
.card__meta time {
  font-size: 1.5rem;
  color: #bbb;
  margin-left: 0.8rem;
}

/* card article */
.card__article a {
  text-decoration: none;
  color: #444;
  transition: all 0.5s ease;
}
  .card__article a:hover {
    color: #2980b9;
  }

/* card action */
.card__action {
  overflow: hidden;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  padding-bottom: 1.6rem;
}

.card__author {}

  .card__author img,
  .card__author-content {
    display: inline-block;
    vertical-align: middle;
  }

  .card__author img{
    border-radius: 50%;
    margin-right: 0.6em;
  }

.card__share {
  float: right;
  position: relative;
  margin-top: -42px;
}

.card__social {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  width: 160px;
  transform: translateZ(0);
    transform: translateX(0px);
    transition: transform 0.35s ease;
}
  .card__social--active {
    visibility: visible;
    /*z-index: 3;*/
    transform: translateZ(0);
    transform: translateX(-48px);
      transition: transform 0.35s ease;
  }

.share-toggle {
  z-index: 2;
}
.share-toggle:before {
  content: "\f1e0";
  font-family: 'FontAwesome';
  color: #3498db;
}
  .share-toggle.share-expanded:before {
    content: "\f00d";
  }

.share-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
  outline: 0;

  box-shadow:
        0 2px 4px rgba(0,0,0, 0.12),
        0 2px 4px rgba(0,0,0, 0.24);
}
  .share-icon:hover,
  .share-icon:focus {
    box-shadow:
        0 3px 6px rgba(0,0,0, 0.12),
        0 3px 6px rgba(0,0,0, 0.24);

      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
  }

.facebook {
  background-color: #3b5998;
}
.twitter {
  background-color: #00abe3;
}
.googleplus {
  background-color: #d3492c;
}

.facebook,
.twitter,
.googleplus {
  color: #fff;
}

  .facebook:hover,
  .twitter:hover,
  .googleplus:hover {
    color: #eee;
  }


// other card


// // body {
// //   background: #f2f2f2;
// //   font-family: 'proxima-nova-soft', sans-serif;
// //   font-size: 14px;
// //   -webkit-font-smoothing: antialiased;
// //   -moz-osx-font-smoothing: grayscale;
// // }
// .post-module {
//   position: relative;
//   z-index: 1;
//   display: block;
//   background: #FFFFFF;
//   min-width: 200px;
//   height: 400px;
//   -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
//   -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
//   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
//   -webkit-transition: all 0.3s linear 0s;
//   -moz-transition: all 0.3s linear 0s;
//   -ms-transition: all 0.3s linear 0s;
//   -o-transition: all 0.3s linear 0s;
//   transition: all 0.3s linear 0s;
// }
// .post-module:hover,
// .hover {
//   -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
//   -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
//   box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
// }
// .post-module:hover .thumbnail img,
// .hover .thumbnail img {
//   -webkit-transform: scale(1.1);
//   -moz-transform: scale(1.1);
//   transform: scale(1.1);
//   opacity: .6;
// }
// .post-module .thumbnail {
//   background: #000000;
//   height: 300px;
//   overflow: hidden;
// }

// .post-module .thumbnail img {
//   display: block;
//   width: 120%;
//   -webkit-transition: all 0.3s linear 0s;
//   -moz-transition: all 0.3s linear 0s;
//   -ms-transition: all 0.3s linear 0s;
//   -o-transition: all 0.3s linear 0s;
//   transition: all 0.3s linear 0s;
// }
// .post-module .post-content {
//   position: absolute;
//   bottom: 0;
//   background: #FFFFFF;
//   width: 100%;
//   padding: 30px;
//   -webkti-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
//   -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
//   -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
//   -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
//   -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
//   transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
// }
// .post-module .post-content .category {
//   position: absolute;
//   top: -34px;
//   left: 0;
//   background: #e74c3c;
//   padding: 10px 15px;
//   color: #FFFFFF;
//   font-size: 14px;
//   font-weight: 600;
//   text-transform: uppercase;
// }
// .post-module .post-content .title {
//   margin: 0;
//   padding: 0 0 10px;
//   color: #333333;
//   font-size: 26px;
//   font-weight: 700;
// }
// .post-module .post-content .sub_title {
//   margin: 0;
//   padding: 0 0 20px;
//   color: #e74c3c;
//   font-size: 20px;
//   font-weight: 400;
// }
// .post-module .post-content .description {
//   display: none;
//   color: #666666;
//   font-size: 14px;
//   line-height: 1.8em;
// }
// .post-module .post-content .post-meta {
//   margin: 30px 0 0;
//   color: #999999;
// }
// .post-module .post-content .post-meta .timestamp {
//   margin: 0 16px 0 0;
// }
// .post-module .post-content .post-meta a {
//   color: #999999;
//   text-decoration: none;
// }
// .hover .post-content .description {
//   display: block !important;
//   height: auto !important;
//   opacity: 1 !important;
// }
// .container {
//   max-width: 800px;
//   min-width: 640px;
//   margin: 0 auto;
// }
// .container:before,
// .container:after {
//   content: '';
//   display: block;
//   clear: both;
// }
// .container .column {
//   width: 50%;
//   padding: 0 25px;
//   -webkti-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
//   float: left;
// }
// .container .column .demo-title {
//   margin: 0 0 15px;
//   color: #666666;
//   font-size: 18px;
//   font-weight: bold;
//   text-transform: uppercase;
// }
// .container .info {
//   width: 300px;
//   margin: 50px auto;
//   text-align: center;
// }
// .container .info h1 {
//   margin: 0 0 15px;
//   padding: 0;
//   font-size: 24px;
//   font-weight: bold;
//   color: #333333;
// }
// .container .info span {
//   color: #666666;
//   font-size: 12px;
// }
// .container .info span a {
//   color: #000000;
//   text-decoration: none;
// }
// .container .info span .fa {
//   color: #e74c3c;
// }


// ******************



